<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/">Contact us</a></li>
                     <li><a href="/">ABOUT US</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by Bessam Haj Salem
                </span>
            </div>
        </div>
    </div>
</footer>
