<div class="wrapper">
  <div
    class="page-header section-dark"
    style="background-image: url('assets/img/Calcium_carbonate_rocks.jpg')"
  >
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="title-brand">
          <h1 class="presentation-title" style="font-size: 50px">
            Carbonate de Calcium naturel 
          </h1>
        </div>

        <!-- <h1 class="presentation-title" style="font-size: 20px;">Qualité et Management</h1> -->
        <h2 class="presentation-subtitle text-center" style="font-size: 20px">
            
            Issue des gisements de marbre les plus blancs de Tunisie, la gamme de carbonates de calcium Melka
             se caractérise par son très haut niveau de blancheur ainsi que par sa grande pureté chimique.
              Cette gamme est particulièrement adaptée à toutes les applications industrielles où un haut niveau de blancheur
               est exigé.
        </h2>
      </div>
    </div>
    
    <!-- <div class="section" id="carousel"> -->
    <!-- <div class="container"> -->
    <div class="container">
        
      <div class="row">
        <div class="col-md-8 mr-auto ml-auto">
          <div class="card page-carousel">
            <ngb-carousel>
                <ng-template ngbSlide>
                    <img src="./assets/img/melka2.png" alt="Random first slide" />
                    <div class="carousel-caption">
                      <p style="color: rgb(1, 4, 14); font-weight: bold"></p>
                    </div>
                  </ng-template>
              <ng-template ngbSlide>
                <img
                  src="./assets/img/melka3.png"
                 
                  alt="Random first slide"
                />
                <div class="carousel-caption">
                  <p style="color: rgb(1, 4, 14); font-weight: bold"></p>
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <img src="./assets/img/melka5.png" alt="Random first slide" />
                <div class="carousel-caption">
                  <p style="color: rgb(1, 4, 14); font-weight: bold"></p>
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <img src="./assets/img/melka5T.png" alt="Random first slide" />
                <div class="carousel-caption">
                  <p style="color: rgb(1, 4, 14); font-weight: bold"></p>
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <img src="./assets/img/melka10.png" alt="Random first slide" />
                <div class="carousel-caption">
                  <p style="color: rgb(1, 4, 14); font-weight: bold"></p>
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <img src="./assets/img/melka15.png" alt="Random first slide" />
                <div class="carousel-caption">
                  <p style="color: rgb(1, 4, 14); font-weight: bold"></p>
                </div>
              </ng-template>
            </ngb-carousel>
          </div>
        </div>
       
      </div>
      
    </div>
    
    <br/>
   
    <div style="background-image: url('assets/img/clouds.png')"></div>
    
    <h6 class="category-absolute ml-auto mr-auto">MELKART GROUPE</h6>
    
  </div>
  <img src="./assets/img/info2.png"  style="width: 1500px; height: 600px" alt="Random first slide" />
  <!-- <app-typography></app-typography> -->
  <div class="section javascript-components">
    <div class="section section-dark">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title">MELKART MINERALS</h2>
            <p class="description">
              MELKART MINERALS<br />
              Arles<br />
              215 Avenue Jean RENO<br />
              CS 13200<br />
              13280 Saintes-Maries-de-la-Mer<br />
              Tèl. +33(0)4 65 84 97 02<br />
              Fax +33(0)4 87 87 63 44
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
