<div class="wrapper">
  <div
    class="page-header section-dark"
    style="background-image: url('assets/img/login-image.jpg');"
  >
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="title-brand">
          <div class="angular-logo">
            <img
              src="assets/img/logoMelkart.jpg"
              alt=""
              style="height: 140px; width: 480px; margin-left: -220px;"
            />
          </div>
          <h1 class="presentation-title" style="font-size: 50px;">MELKART MINERALS</h1>
        </div>

        <h2 class="presentation-subtitle text-center" style="font-weight: bold;">GCC extrait des mines les plus pures d’Afrique du nord, la gamme de
          carbonate de calcium MELKA se caractérise par sa grande pureté
          chimique et minéralogique et par un travail d’affinement poussé pour
          satisfaire les différents besoins des industriels.</h2>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-8 mr-auto ml-auto">
          <div class="card page-carousel">
            <ngb-carousel>
              <ng-template ngbSlide>
                <img src="./assets/img/carr1.jpg" alt="Random first slide" />
                <div class="carousel-caption">
                  <p style="color: rgb(1, 4, 14); font-weight: bold;">
                    Grande pureté chimique et minéralogique
                  </p>
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <img src="./assets/img/carr2.jpg" alt="Random second slide" />
                <div class="carousel-caption">
                  <p style="color: rgb(1, 4, 14); font-weight: bold;">
                    Travail d’affinement poussé
                  </p>
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <img src="./assets/img/carr3.jpg" alt="Random third slide" />
                <div class="carousel-caption">
                  <p style="color: rgb(1, 4, 14); font-weight: bold;">
                    Logistic optimisée
                  </p>
                </div>
              </ng-template>
            </ngb-carousel>
          </div>
        </div>
      </div>
    </div>
    <!-- </div> -->
    <!-- <div
      class="moving-clouds"
      style="background-image: url('assets/img/clouds.png');"
    ></div> -->
    <h6 class="category-absolute ml-auto mr-auto">
      MELKART GROUPE
    </h6>
  </div>

  <div class="section javascript-components">
    <div class="section section-dark section-nucleo-icons">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <h2 class="title">Carbonate de calcium</h2>
            <br />
            <p class="description">
                Les dépôts naturels de carbonate de calcium peuvent sembler massifs et immobiles, mais ils subissent en fait un changement graduel.

                Dans ce système, seules les influences atmosphériques entraînent les processus cycliques. L’eau s’évapore et se transforme en gaz ou en vapeur d’eau qui est emportée par le vent et retourne à la surface de la terre sous forme de pluie.
                
                Les fines gouttelettes d’eau (p. ex., pluie) absorbent efficacement les impuretés atmosphériques comme le CO2, le SO2 et le NOx, qui se dissolvent pour former des acides. Cette "pluie acide" attaque le calcaire et le décompose.
                
                Le bicarbonate de calcium est soluble dans l’eau, ce qui signifie qu’il est emporté dans les océans. Ce processus chimique complète l’érosion mécanique des collines et des montagnes par le vent et l’eau, et est une cause principale de la salinité croissante dans les océans du monde. Dans les océans, les changements
            </p>
           
          </div>

          <div class="col-lg-6 col-md-12">
            <div class="icons-container">
              <i class="nc-icon nc-time-alarm"></i>
              <i class="nc-icon nc-atom"></i>
              <i class="nc-icon nc-camera-compact"></i>
              <i class="nc-icon nc-watch-time"></i>
              <i class="nc-icon nc-key-25"></i>
              <i class="nc-icon nc-diamond"></i>
              <i class="nc-icon nc-user-run"></i>
              <i class="nc-icon nc-layout-11"></i>
              <i class="nc-icon nc-badge"></i>
              <i class="nc-icon nc-bulb-63"></i>
              <i class="nc-icon nc-favourite-28"></i>
              <i class="nc-icon nc-planet"></i>
              <i class="nc-icon nc-tie-bow"></i>
              <i class="nc-icon nc-zoom-split"></i>
              <i class="nc-icon nc-cloud-download-93"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div
      class="section section-image section-login"
      style="background-image: url('assets/img/login-image.jpg');"
    >
    <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
    <p class="description">
        MELKART MINERALS<br/>
        Arles<br/>
        215 Avenue Jean RENO<br/>
        CS 13200<br/>
        13280 Saintes-Maries-de-la-Mer<br/>
        Tèl. +33(0)4 65 84 97 02<br/>
        Fax +33(0)4 87 87 63 44</p>
     
        </div>
      </div> 
    </div>
  </div>
</div>
